/* Серый фон при модификаторе .content__card-link_current почему-то не работал,хотя был у меня указан,заскринила, что теперь работает, но не знаю,куда скрин приложить:(*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap:30px;
  width: 1140px;
}


.result {
  align-self: flex-end;
  gap: 16px;
  padding-top: 78px;
  padding-bottom: 70px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  padding-right: 32px;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex; 
  color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  width: 711px;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  height: 22px;
  margin-bottom: 7px;
}

.search-form__label {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  width: fit-content;
  font-family: 'Fira Sans Condensed',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  cursor: pointer; 
}

.search-form__label-text {
  display: block;
  line-height: 18px;
}

.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #fff;
  appearance: none;
  background: transparent;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__textfield:active {
  outline: white solid 1px;
  outline-offset: 1px;
}

.search-form__textfield:focus-visible {
  outline: white solid 1px;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible){
  outline: 1px solid white;
  outline-offset: 1px;
}

.button {
  cursor: pointer;
  height: 34px; 
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color:#545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  padding-right: 73.5px;
  padding-left: 73.5px;
  align-self: flex-end;
}

.content__details{ 
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 26px;
}

.content__accent {
  opacity: 50%;
}

.content__list {
  position: relative;
  height: 301px;
  width: 401px;
  overflow-y:scroll;
  overflow-x:auto;
}

.content__list-item:not(:last-of-type){
  margin-bottom: 30px;
}

.content__card-link {
  display: block; 
  text-decoration: none;
  color: white;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
  background-color: #545050;
}

.content__card-link:focus {
  outline:none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 399px;
}

.content__video-card-description-container {
  width: 200px;
  padding-top: 4px;
  padding-left: 2px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 6px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  width: 199px;
  padding-top: 2px;
  padding-bottom: 2px; 
  
}

.content__video-card-thumbnail {
  width: 200px;
  height: 107px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 399px;
  border: 1px solid #FFFFFF;
  /*margin-top: 34px;*/
  margin-left: 0px;
}







